h1 {
	color: red;
	padding: 10px;
	text-decoration: underline;
}

#nav {
	background: lightgray;
	overflow: auto;
}

#nav li {
	float: right;
	padding: 30px;
	list-style: none;
}

#nav li:hover {
	background: gray;
}